<% if user_signed_in? %>
  Profile of <strong><%= current_user.name %></strong>. </br>

  <% if current_user.posts.count >= 1 %>
    Continue creating your posts.
  <% else %>
    You don't have any post yet! </br>
  <% end %>

    <%= form_for(@post, url: create_path) do |f| %>
      <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being public:</h2>
          <ul>
            <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <%= f.text_area :body, placeholder: "Compose new post..." %>
        <%= f.datetime_field :expiration %>
      </div>
      <div class="actions">
        <%= f.submit "Post", class: "btn btn-primary" %>
      </div>

    <% end %>
  
<% else %>
  <h1>Register now!</h1>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></br>
<% end %>