<!-- New Post for <strong><%= current_user.name %></strong>

<%= form_for(@post, url: posts_create_path) do |f| %>
  <div class="field">
    <%= f.text_area :body, placeholder: "Compose new post..." %>
    <%= f.text_area :expiration, placeholder: "Date and Time" %>
  </div>
  <div class="actions">
    <%= f.submit "Post", class: "btn btn-primary" %>
  </div>
  
<% end %> -->